# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Environment Variables
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Test Cache
.pytest_cache/

# Build Files
build/
dist/
*.egg-info/

# Output
output/